.wrapper {
  height: 100%;
  // background-color: $border-color;
}

/* Background */
.textcard-C {
  height: 100%;
  // background-image: url("https://source.unsplash.com/random/1024x576/?nature,building,mountain,contrast");
  background-color: $border-color;
  background-size: cover;
  background: transparent;
  pointer-events: none;

  /* Text Background */
  .textcardbg {
    height: 100%;

    clip-path: inset(
      calc(#{$border-height} + 15vh) 5rem calc(#{$border-height} + 10vh) 5rem
    );
    // clip-path: inset(
    //   calc(0.5 * (100vh - ((100vh - 10rem) * 0.5625))) 5rem
    //     calc(0.5 * (100vh - ((100vh - 10rem) * 0.5625))) 5rem
    // );

    background-color: #1c1c1c;

    opacity: 0;
    transition: opacity 1.5s cubic-bezier(1, -1.03, 0.29, 1.78);
    // pointer-events: none;

    /* Clip text element */
    .clip-text {
      @include flex(100%, row, nowrap, center, center);
      width: 100%;
      background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      color: #fff;
      background-size: cover;
      font: 16vw "HVGX";
      font-variation-settings: "wght" 680, "wdth" 2.5, "slnt" 12;
    }
  }
  .visible {
    opacity: 1;
  }
}
