@use '../../styles/mixins' as m;
@use '../../styles/vars';

$text-hover-bg: #031d44;
// $text-color: darken(#ffb510, 0);
$text-color: lighten(#000, 20);
$text-color-active: darken(#ffffff, 0);
$text-color-light: #dae5f2;

$bg: #ffffff;

.hometext {
  background-color: $text-color-light;
  text-decoration: underline;
  padding: 0 1rem 0 1rem;
  font-size: 0.9rem;
  border-left: 1px solid $text-hover-bg;
  border-right: 1px solid $text-hover-bg;
  border-bottom: 1px solid $text-hover-bg;
}
.h-C {
  @include m.flex(calc(100% + 1px), row, nowrap, space-around, stretch);
  // padding: 0 4rem 0 4rem;

  .h-b {
    @include m.flex(100%, row, nowrap, center, center);
    min-width: 5rem;
    // max-width: 15rem;
    @include m.user-select(none);
  }
  a {
    @include m.flex(100%, row, nowrap, center, center);
    width: 100%;

    padding: 0;

    // margin: 0 1rem;

    font-family: monospace;
    font-size: 1.2rem;
    fill: $text-color;
    color: $text-color;
    span {
      margin: 0 1rem 0 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
    }
    svg {
      @include m.flex(50%, row, nowrap, center, center);
      min-width: 2.5rem;
    }
    &:hover {
      background-color: $text-hover-bg;
      fill: $text-color-light;
      color: $text-color-light !important;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.hh-C {
  @include m.flex(3rem, row, nowrap, space-between, stretch);
  @include m.pseudo();
  // background-color: green;
  position: fixed;
  z-index: 20;

  background-color: $bg;

  border-top: 5px solid $text-hover-bg;
  border-bottom: 1px solid $text-hover-bg;

  .rowC {
    @include m.flex(calc(100% + 0px), row, nowrap, flex-start, stretch);
    padding: 0 4rem 0 4rem;
    margin: 0;
    // border-bottom: 1px solid $text-hover-bg;
  }
}
.notOnMobile {
  display: flex;
}
@media only screen and (max-width: 700px) {
  // $bg: #ffffff;
  .hh-C {
    @include m.flex(3.5rem, column, nowrap, flex-start, stretch);
    // border-bottom: 1px solid $text-hover-bg;
    .notOnMobile {
      display: none;
    }
    .rowC {
      padding: 0;
      // background-color: green;
      // border-bottom: 1px solid $text-hover-bg;
      .h-C {
        flex-grow: 1;
        padding: 0;
        width: 100%;
        height: 3.5rem;
        background-color: $bg;
        border-bottom: 2px solid darken($color: $text-color-light, $amount: 0);
      }
      // .h-C:first-of-type {
      //   // min-width: 5rem;
      // }
    }
    .rowC:first-of-type {
      // border-bottom: inherit;
      .h-b {
        max-width: 100%;
        width: 100%;
        // border-bottom: none;
      }
    }
  }
}
