$text-color: lighten(#832232, 40%);
$text-deco-color: darken($text-color, 0%);

$vert-gap: 1rem;

.descr {
  @include flex(initial, column, nowrap, flex-start, flex-end);

  // width: 25.5rem;12.75
  width: 100%;
  padding: 0rem 0rem 2rem 0rem;
  // padding: 0rem calc(50vw - 12.75rem + 1rem) 2rem calc(50vw - 12.75rem + 1rem);

  @include reveal_anim(3.5s);

  .d-section {
    @include flex(initial, row, nowrap, flex-start, center);
    // max-height: calc(50vh - 2.5rem);
    width: calc(50vw + 11.75rem);

    color: $text-color;
    font-family: "EB Garamond", Georgia, "Times New Roman", Times, serif;
    font-size: 0.8rem;

    .middle {
      // @include flex(initial, row, nowrap, flex-end, center);
      margin: $vert-gap 0 $vert-gap 0;
      width: 23.5rem;
    }

    .sidetext {
      @include flex(100%, column, nowrap, center, center);
      width: calc(50vw - 11.75rem);
      padding: 0 6rem 0 6rem;

      @include reveal_anim(5.5s);

      i {
        font-size: 0.7rem;
      }
    }

    .cols {
      columns: 2;
      column-gap: 0.5rem;

      i {
        font-size: 0.8rem;
        line-height: 1rem;
      }
      p {
        // @include flex(100%, column, nowrap, flex-start, stretch);
        // width: 50%;
        // margin: 0.25rem;
        line-height: 1rem;
        text-align: justify;
        text-justify: distribute;
        word-spacing: -1px;
        text-align-last: left;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        .image {
          // @include flex(100%, column, nowrap, center, center);
          position: relative;
          padding: 0.5rem;
          margin: 0.5rem 0 0.5rem 0;
          // border: 1px solid $text-color;
          filter: saturate(2) hue-rotate(350deg);

          &::after {
            @include pseudo();
            // background-color: transparentize($color: $text-color, $amount: 0.5);
          }
        }
      }
      .dropcap:first-child:first-letter {
        // color: white;
        float: left;
        font-family: Georgia;
        font-size: 4rem;
        line-height: 3.5rem;
        // padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        text-shadow: 1px 1.5px 3px transparentize($color: black, $amount: 0.8);
      }
    }

    .subheading {
      position: relative;
      @include flex(100%, column, nowrap, center, center);
      // margin: $vert-gap 0 $vert-gap 0;
      padding: 0.5rem 0 0.5rem 0;
      font-size: 1rem;
      text-align: center;
      font-style: italic;

      &::before {
        @include pseudo(0, 30%, 0, 30%);
        border-top: 1px solid $text-deco-color;
        border-bottom: 1px solid $text-deco-color;
      }
    }
  }
}

// @keyframes reveal_opacity {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
