.P-B-C {
  @include flex(100%, column, wrap, center, center);
  min-height: calc(100vh - calc(0.9 * 0.8 * 3em) - 6em);
  margin-top: 6em;
  padding: 0 20% 0 20%;
}
.chart-C {
  // max-height: 60vh;
  height: 60vh;
  width: 100%;
  margin: 0;
  background-color: peachpuff;
  margin: 3em 0 3em 0;
}
.chart-C div {
  width: unset;
}
.chart-C div div svg {
  max-height: 60vh;
  // background-color: red;
}
