.P-B-C {
  @include flex(100%, row, wrap, center, stretch);
  min-height: calc(100vh - calc(0.9 * 0.8 * 3em) - 6em);
  margin-top: 6em;
}
.chart-C {
  // max-height: 60vh;
  height: 60vh;
  width: 100%;
  margin: 0;
  // padding-right: 20vw;
  // transform: translateX(-18vw);
  padding-left: 0;
  // background-color: peachpuff;
}
.chart-C div {
  width: unset;
}
.chart-C div div svg {
  max-height: 60vh;
  // background-color: red;
}
