$border-color: #1c1c1c;
$bg-color: white;
$border-height: 1vh;
$border-width: 1vh;
$reveal-bezier: cubic-bezier(0.22, 0.82, 0.04, 1.28);
// cubic-bezier(0.77, 0.2, 0.05, 1)

@mixin flex($ht, $dir, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $justify;
  align-items: $align;
  height: $ht;
}

@mixin blur-back($r) {
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // -webkit-backdrop-filter: saturate(180%) blur($r);
  backdrop-filter: blur($r) brightness(1.65) contrast(0.7) saturate(0.7);
  // backdrop-filter: blur($r) invert(0) contrast(20);
  // backdrop-filter: saturate(180%) blur($r);
}
