// $text-color: lighten(#012a36, 40%);
$text-color: darken(#ffb510, 0);

.hh-C {
  @include flex(2.5rem, row, nowrap, space-between, stretch);
  @include pseudo();
  // background-color: green;
  position: fixed;
  z-index: 20;

  // @include reveal-opacity-anim(0s);
  opacity: 1;

  .h-C {
    @include flex(100%, row, nowrap, space-between, stretch);
    padding: 0 1rem 0 1rem;
    .h-b {
      @include flex(100%, row, nowrap, center, center);
      width: 5rem;
      margin: 0.5rem 0 0.5rem 0;

      // color: transparentize($color: white, $amount: 0.3);
      color: $text-color;

      // font-size: 1rem;

      @include user-select(none);
    }
    a {
      padding: 0 0.5rem 0 0.5rem;

      font-family: monospace;
      font-size: 1.2rem;

      span {
        @include flex(100%, row, nowrap, center, center);

        width: 100%;
        // color: #012a36;

        // background-color: #ffb510;
        // background-color: transparentize($color: white, $amount: 0.8);

        text-align: center;
        &:hover {
          background-color: transparentize($color: white, $amount: 0.8);
          // color: #ffb510;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .hh-C .hometext {
    display: none;
  }
  .hh-C .h-C {
    flex-grow: 1;
    padding: 0;
  }
}
