.hh-C {
  @include flex(2.5rem, row, nowrap, space-between, stretch);
  @include pseudo();
  // background-color: green;
  position: fixed;
  z-index: 20;

  @include reveal_anim(4.5s);

  .h-C {
    @include flex(100%, row, nowrap, flex-start, stretch);
    padding: 0 1rem 0 1rem;
    .h-b {
      @include flex(100%, row, nowrap, center, center);
      width: 5rem;
      margin: 0.5rem 0 0.5rem 0;

      color: transparentize($color: white, $amount: 0.3);
      // font-size: 1rem;

      @include user-select(none);
    }
    a {
      font-family: monospace;
      font-size: 1.2rem;

      &:hover {
        background-color: transparentize($color: white, $amount: 0.8);
        cursor: pointer;
      }
    }
  }
}
