// $bg-d: #232323;
$bg-d: #ffb510;
// $bg-d: transparent;

$abc: #012a36, #832232, #faebed, #f1faee, #e63946, #ffcdb2, #ffb510;

$bg-theme: #012a36;
$bg-l: $bg-theme;
$bigtext-text-color: lighten($bg-theme, 0%);
// $bigtext-text-color: #ffb510;

// $bigtext-border-color: rgba(255, 255, 255, 0.2);
$bigtext-border-color: rgba(0, 0, 0, 0.5);
$bigtext-border-radius: 1px;

.bigtext-C {
  @include flex(initial, column, wrap, center, center);

  background-color: $bg-l;

  background-color: #012a36;
  @include patternbg;

  min-height: 100vh;

  // animation: bgchange $reveal-bezier 2.5s reverse;
  // animation-delay: 0s;
  // animation-fill-mode: forwards;

  .cleartop {
    width: 25.5rem;
    height: calc(50vh - 1.5rem);
    min-height: 2.5rem;
  }

  .bigtext {
    position: relative;
    @include flex(100vh, column, nowrap, center, center);
    height: 3rem;
    padding: 0 1rem 0 1.5rem;

    @include user-select(none);

    // font-family: "NeueMontreal-Medium";
    // font-family: Georgia, "Times New Roman", Times, serif;
    font-family: monospace;
    font-weight: 500;
    letter-spacing: 0.7rem;
    font-size: 1.5rem;
    // font-weight: bold;

    // background-color: transparent;
    color: transparent;

    animation: bgchange $reveal-bezier 2s, slide_reveal $reveal-bezier 1s,
      text_reveal $reveal-bezier 1s;
    animation-delay: 0.5s, 0.5s, 1.5s, 3s;
    animation-fill-mode: forwards, forwards, forwards, forwards;
    transform-origin: left;

    @include border-radius($bigtext-border-radius);

    // box-shadow: inset 0px 0px 0px 0.6px #ffc64d;
    // outline: 1px solid $bigtext-border-color;
    // outline-offset: -1px;

    span {
      @include flex(100vh, column, nowrap, center, center);
    }

    &:hover {
      @include BoxShadow(6.5);
    }

    &::before {
      @include pseudo();

      @include border-radius($bigtext-border-radius);

      opacity: 0;
      @include BoxShadow(6);
      // outline: 1px solid $bigtext-border-color;

      animation: reveal_opacity $reveal-bezier 1.5s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      // &:hover {
      //   @include BoxShadow(6);
      // }
    }
    &::after {
      @include pseudo();
    }
  }
}
@keyframes bgchange {
  from {
    background-color: transparent;
  }
  to {
    // background-color: $bg-l;
    background-color: $bg-d;
  }
}

@keyframes shadow {
  from {
    @include BoxShadow(0);
  }
  to {
    @include BoxShadow(8);
  }
}
@keyframes reveal_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shadow1 {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}
@keyframes text_reveal {
  from {
    // color: $bg-d;
    color: transparent;
  }
  to {
    // color: $bg-l;
    color: $bigtext-text-color;
  }
}

@keyframes slide_reveal {
  from {
    transform: scaleX(0);
    // outline: none;
  }
  to {
    transform: scaleX(1);
    // outline: 1px solid $bigtext-border-color;
  }
}

@keyframes slide_up {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50vw + 100% / 2 + 3rem));
    // transform: translateX(0);
  }
}
