/* top | right | bottom | left */
.L-H {
  margin: 0;
  position: fixed;
  top: $border-height;
  left: $border-width;
  width: 100%;
  padding-right: calc(2 *#{$border-width});
  @include flex(100%, row, nowrap, space-between, flex-start);
  pointer-events: none;
}
.L-H-1-flex {
  @include flex(100%, row, nowrap, space-between, center);

  height: 3em;
  margin: 1px;
  padding: 0;
  z-index: 2;

  @include blur-back(5px);
  background: rgba(255, 255, 255, 0.7);
  // box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;

  pointer-events: all;
}
.L-H-I {
  @include flex(100%, row, nowrap, flex-start, center);
  height: 3em;
}
.L-H-I-C {
  @include flex(100%, row, nowrap, space-evenly, center);
}

.navContainer {
  width: 3em;
  color: $border-color;
}
.h:hover {
  background-color: $border-color;
  color: white;
  cursor: pointer;
}
.menuactive {
  background-color: $border-color;
  color: white;
  cursor: pointer;
}
.L-H-menu {
  margin: 0;
  position: fixed;
  top: $border-height;
  left: $border-width;
  width: 100%;
  height: 100%;

  z-index: 1;

  background-color: rgba(0, 0, 0, 0.8);

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.blurbehind {
  opacity: 1;
  pointer-events: all;
  @include blur-back(8px);
}

@media only screen and (max-width: 480px) {
  .L-H {
    top: 0;
    left: 0;
    padding-right: 0px;
  }
  .L-H-1-flex {
    margin: 0;
  }
}
