/* top | right | bottom | left */

.H-nav-flex {
  @include flex(3em, row, nowrap, space-evenly, center);
}

.H-nav-C {
  @include flex(3em, row, nowrap, flex-start, center);
  z-index: 2;
  margin: calc(#{$border-height}) calc(#{$border-width}) calc(#{$border-width});
}

.H-menu-C {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  // margin: $border-height $border-width 0 0;
  width: 100%;
  padding: $border-height $border-width;
  @include flex(100%, row, nowrap, flex-end, flex-start);
  pointer-events: none;
}

.H-menu-button {
  pointer-events: all;
  height: 3em;
  padding: 0;
  z-index: 2;

  @include blur-back(5px);
  background-color: rgba(255, 255, 255, 0.2);
}

.navButtonContainer {
  height: calc(3em - 2px);
  margin: 1px;
  width: 3em;
  color: $border-color;
  cursor: pointer;
}
.navButtonContainer:hover {
  background-color: $border-color;
  color: white;
}
.navButtonContainer a {
  padding: 0;
  margin: 0;
  height: 3em;
  width: 3em;
}
.menuButtonActive {
  color: white;
}
.H-menu-bg {
  pointer-events: none;
  z-index: 1;

  @include blur-back(8px);
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.visible {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .H-menu-C {
    padding: 0;
  }
  .H-nav-C {
    margin: 0;
  }
}
