$footer-height: calc(0.9 * 0.8 * 3em);

footer {
  /* top | right | bottom | left */
  @include flex($footer-height, column, nowrap, center, center);

  margin-bottom: 0;
  // border-bottom: $border-height solid $border-color;
  padding: 0.75% 0% calc(0.75%) 0%;

  color: gray;
  // background: transparent;
  background: #1c1c1c;
  font-family: sans-serif;
}

footer span {
  font-size: 0.8rem;
}

@media only screen and (max-width: 480px) {
  footer {
    border-bottom: 0 solid $border-color;
  }
}
