footer {
  /* top | right | bottom | left */
  margin-bottom: 0;
  padding: 0.75% 15% calc(0.75%) 20%;
  color: gray;
  background: #1c1c1c;
  border-bottom: 1vh solid $border-color;
  font-family: sans-serif;
  font-size: 2vh;
  max-height: 6%;
  @include flex(100%, column, nowrap, center, center);
}
@media only screen and (max-width: 480px) {
  footer {
    border-bottom: 0 solid $border-color;
  }
}
